@media (max-width: 290px) {
    html,
    body {
        font-size: 50%;
    }
    #background-overlay {
        height: auto;
        #main-head {
            position: relative;
            background: none;
            .container {
                height: auto;
                nav {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    ul {
                        flex-direction: column;
                        padding: 0;
                        justify-content: space-evenly;
                    }
                    .agancy-name {
                        position: relative;
                        bottom: 5rem;
                    }
                }
            }
        }
    }
    section#Home {
        height: auto;
        .container {
            height: 100vh;
            background: linear-gradient(rgba(0, 0, 0, 0.781), transparent), url('../images/1.jpg');
            background-size: cover;
            background-position: top;
            background-repeat: no-repeat;
            background-attachment: fixed;
            .a {
                padding: 1rem 0;
            }
            button {
                margin-top: 5rem;
            }
        }
    }
    section#Contact {
        .container {
            .form-wrapper {
                width: 90%;
                .name-form {
                    input {
                        margin-right: 3.1rem;
                    }
                }
                .name-form {
                    input {
                        margin-right: 2rem;
                    }
                }
            }
        }
    }
}

@media (min-width: 291px) and (max-width: 400px) {
    html,
    body {
        font-size: 60%;
    }
    #background-overlay {
        height: auto;
        #main-head {
            position: relative;
            background: none;
            .container {
                height: auto;
                nav {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    ul {
                        flex-direction: column;
                        padding: 0;
                        justify-content: space-evenly;
                    }
                    .agancy-name {
                        position: relative;
                        bottom: 5rem;
                    }
                }
            }
        }
    }
    section#Home {
        height: auto;
        .container {
            height: 100vh;
            background: linear-gradient(rgba(0, 0, 0, 0.781), transparent), url('../images/1.jpg');
            background-size: cover;
            background-position: top;
            background-repeat: no-repeat;
            background-attachment: fixed;
            .a {
                padding: 1rem 0;
            }
            button {
                margin-top: 5rem;
            }
        }
    }
    section#Contact {
        .container {
            .form-wrapper {
                width: 90%;
                .name-form {
                    input {
                        margin-right: 3.1rem;
                    }
                }
                .name-form {
                    input {
                        margin-right: 2.1rem;
                    }
                }
            }
        }
    }
}

@media (min-width: 401px) and (max-width: 768px) {
    html,
    body {
        font-size: 60%;
    }
    #background-overlay {
        height: auto;
        #main-head {
            position: relative;
            background: none;
            .container {
                height: auto;
                nav {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    ul {
                        flex-direction: column;
                        padding: 0;
                        justify-content: space-evenly;
                    }
                    .agancy-name {
                        position: relative;
                        bottom: 5rem;
                    }
                }
            }
        }
    }

    section#Home {
        height: auto;
        .container {
            background: linear-gradient(rgba(0, 0, 0, 0.781), transparent), url('../images/1.jpg');
            background-size: cover;
            background-position: top;
            background-repeat: no-repeat;
            background-attachment: fixed;
            .a {
                padding: 1rem 0;
            }
            button {
                margin-top: 5rem;
            }
        }
    }
    section#Contact {
        .container {
            .form-wrapper {
                width: 90%;
                .name-form {
                    input {
                        margin-right: 3.1rem;
                    }
                }
                .name-form {
                    input {
                        margin-left: 3.1rem;
                        margin-right: 5.1rem;
                    }
                }
            }
        }
    }
}

@media (min-width: 769px) and (max-width: 999px) {
    html,
    body {
        font-size: 120%;
    }
    #background-overlay {
        height: auto;
        #main-head {
            position: relative;
            background: none;
            .container {
                height: auto;
                nav {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    ul {
                        flex-direction: column;
                        padding: 0;
                        justify-content: space-evenly;
                    }
                }
            }
        }
    }
    section#Home {
        height: auto;
        .container {
            background: linear-gradient(rgba(0, 0, 0, 0.781), transparent), url('../images/1.jpg');
            background-size: cover;
            background-position: top;
            background-repeat: no-repeat;
            background-attachment: fixed;
            .a {
                padding: 1rem 0;
            }
            button {
                margin-top: 5rem;
            }
        }
    }

    section#Contact {
        .container {
            .form-wrapper {
                width: 80%;
                .name-form {
                    input {
                        margin-right: 3.1rem;
                    }
                }
                .name-form {
                    input {
                        margin-right: 5.1rem;
                    }
                }
            }
        }
    }
}

@media (min-width: 1000px) and (max-width: 1024px) {
    html,
    body {
        font-size: 120%;
    }
    #background-overlay {
        height: auto;
        #main-head {
            position: relative;
            background: none;
            .container {
                height: auto;
                nav {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    ul {
                        flex-direction: column;
                        padding: 0;
                        justify-content: space-evenly;
                    }
                }
            }
        }
    }
    section#Home {
        height: auto;
        .container {
            background: linear-gradient(rgba(0, 0, 0, 0.781), transparent), url('../images/1.jpg');
            background-size: cover;
            background-position: top;
            background-repeat: no-repeat;
            background-attachment: fixed;
            .a {
                padding: 1rem 0;
            }
            button {
                margin-top: 5rem;
            }
        }
    }

    section#Contact {
        .container {
            .form-wrapper {
                width: 80%;
                .name-form {
                    input {
                        margin-right: 3.1rem;
                    }
                }
                .name-form {
                    input {
                        margin-right: 3.1rem;
                    }
                }
            }
        }
    }
}
