@charset "UTF-8";
@font-face {
  font-family: 'iransans';
  src: url("../fonts/IRANSansWeb.ttf") format("truetype"), url("../fonts/IRANSansWeb.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'iransans';
  direction: rtl;
}

html,
body {
  color: #ffffff;
  font-family: 'iransans';
  font-size: 62.5%;
  line-height: 2;
  direction: rtl;
  text-align: right;
  /* حذف اسکرول افقی */
  overflow-x: hidden;
  /* Utility Classes */
}

html a,
body a {
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.5rem;
  text-shadow: 2px 2px 2px #000;
  z-index: 3;
  font-weight: bold;
}

html .container,
body .container {
  width: 90vw;
  margin: auto;
}

html h1,
body h1 {
  font-size: 2rem;
  z-index: 3;
  text-shadow: 2px 2px 2px #000;
  padding: 1rem 1rem;
}

html li,
html label,
html input,
html p,
body li,
body label,
body input,
body p {
  font-size: 1.75rem;
  font-family: 'iransans' sans-serif;
  z-index: 3;
  text-shadow: 2px 2px 2px #000;
}

html button,
body button {
  font-size: 1.75rem;
  font-weight: bold;
  font-family: 'iransans';
  z-index: 3;
  padding: 1rem;
  border: none;
  background: #fb2056;
  color: #fff;
  padding: 1rem 1rem;
  flex: 1 1 auto;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  animation: buttonAnimation 1.5s infinite alternate 1.5s;
  animation-iteration-count: 3;
}

html button:hover,
body button:hover {
  background: #ff00409d;
}

html button:focus,
body button:focus {
  background: #ff00409d;
  outline-style: solid;
  outline-color: #fff;
}

html h2,
body h2 {
  font-size: 2rem;
  z-index: 3;
  text-shadow: 2px 2px 2px #000;
  padding: 1rem 1rem;
}

html h3,
body h3 {
  font-size: 2rem;
  font-weight: normal;
  z-index: 3;
  text-shadow: 2px 2px 2px #000;
  padding: 1rem 1rem;
}

html h4,
html h5,
body h4,
body h5 {
  font-size: 2.8rem;
  z-index: 3;
  text-shadow: 2px 2px 2px #000;
  padding: 1rem 1rem;
}

html li,
body li {
  list-style: none;
  z-index: 3;
  text-shadow: 2px 2px 2px #000;
  padding: 1rem 1rem;
}

html span,
body span {
  color: #fb2056;
  padding: 1rem 0.5rem;
}

@keyframes buttonAnimation {
  0% {
    background: #5e091e;
  }
  25% {
    background: #b8173f;
  }
  100% {
    background: #fb2056;
  }
}

@keyframes cloudAnimation {
  from {
    transform: translate(5%, -5%);
  }
  to {
    transform: translate(0%, 0%);
  }
}

#background-overlay {
  background: linear-gradient(rgba(0, 0, 0, 0.781), transparent), url("../images/1.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}

#main-head {
  background: none;
  color: #ffffff;
  padding: 3rem;
  position: fixed;
  top: 0px;
  z-index: 10;
}

#main-head nav {
  min-height: 10vh;
  margin: auto;
  padding: 2rem;
  display: flex;
  align-items: flex-start;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

#main-head nav h1 {
  font-size: 1.5rem;
}

#main-head nav ul {
  display: flex;
  flex: 1 1 60rem;
  justify-content: flex-start;
  align-items: center;
}

#main-head nav ul li {
  padding: 0rem 3rem 2rem 0;
  cursor: pointer;
}

#main-head nav ul li:hover {
  color: #fb2056;
}

#main-head nav a h1 {
  padding: 0;
}

#main-head nav a:hover {
  color: #fb2056;
}

#main-head nav a:active {
  color: #fb2056;
  background: #ffa8a8;
}

#main-head nav a.active {
  color: #fb2056;
}

#main-head nav .agancy-name {
  z-index: 2;
}

#main-head nav .logo {
  z-index: 2;
  display: flex;
  flex-direction: row-reverse;
}

#main-head nav .logo img {
  width: 11rem;
  position: relative;
  bottom: 3rem;
  flex: 2 1 40rem;
}

section#Home .container {
  width: 100vw;
  min-height: 84vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 84.4vh;
  text-align: center;
}

section#Home .container .a {
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  align-content: center;
  bottom: 10rem;
  padding: 5rem 0;
  top: 0rem;
}

section#Home .container .b {
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  align-content: center;
  bottom: 10rem;
  padding: 8rem 0;
}

section#Home .container h2 {
  padding: 18rem 1rem 1rem 0rem;
}

section#List-of-Locations {
  background: linear-gradient(rgba(0, 0, 0, 0.568), transparent), url("../images/21.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

section#List-of-Locations .container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
}

section#List-of-Locations .container .List-of-Locations-head {
  padding: 3rem;
}

section#List-of-Locations .container .cloud {
  width: 110vw;
  height: 110vh;
  position: absolute;
  top: 0;
  right: 0;
  animation: cloudAnimation 3s infinite alternate ease-in-out;
  pointer-events: none;
}

section#List-of-Locations .container .moving-cloud1 {
  opacity: 0.2;
}

section#Services {
  background: linear-gradient(rgba(0, 0, 0, 0.568), transparent);
}

section#Services .container .Services-head {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 3rem;
  min-height: 30vh;
}

section#Services .container .Services-head h2 {
  font-size: 1.5rem;
}

section#Services .container .Services-head h3 {
  padding: 1rem;
  font-size: 1.5rem;
}

section#Services .container .cards {
  width: 90%;
  min-height: 70vh;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 5rem;
}

section#Services .container .cards .card {
  min-height: 40vh;
  border: 0.5px solid #fff;
  overflow: hidden;
  color: #ffff;
  flex: 1 1 25rem;
  margin: 2rem 4.5rem;
  box-shadow: 0px 0px 9px #000, 10px 10px 9px #8b8b8b;
  text-align: center;
  transition: all 0.5s ease-in-out;
}

section#Services .container .cards .card img {
  max-width: 40%;
  height: 8vh;
  margin: 2rem;
  color: #fff;
  border: 2px solid #000;
  border-radius: 1rem;
  margin-top: 7rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

section#Services .container .cards .card img:hover {
  border: 3px solid #fb2056;
  background: #fb2056;
}

section#Services .container .cards .card h4 {
  font-size: 2rem;
  padding: 3rem;
}

section#Services .container .cards .card h4:hover {
  cursor: pointer;
  color: #fb2056;
}

section#Services .container .cards .card p {
  cursor: pointer;
  font-size: 1.5rem;
  padding: 3rem;
  transition: all 0.5s ease-in-out;
}

section#Services .container .cards .card p:hover {
  font-size: 1.6rem;
  padding: 1rem;
}

section#Services .container .cards .card .card-icon {
  background: #d6d6d6;
  height: 14vh;
}

section#Services .container .cards .card:nth-child(1) {
  background: linear-gradient(rgba(0, 0, 0, 0.568), transparent), url("../images/19.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

section#Services .container .cards .card:nth-child(2) {
  background: linear-gradient(rgba(0, 0, 0, 0.568), transparent), url("../images/1.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

section#Services .container .cards .card:nth-child(3) {
  background: linear-gradient(rgba(0, 0, 0, 0.568), transparent), url("../images/15.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

section#Contact {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.568), transparent);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

section#Contact .container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

section#Contact .container .form-wrapper {
  background: rgba(0, 0, 0, 0.267);
  width: 40%;
  border-radius: 20px;
}

section#Contact .container .form-wrapper .form-head {
  padding: 3rem;
}

section#Contact .container .form-wrapper .form .name-form,
section#Contact .container .form-wrapper .form .email-form {
  padding: 3rem;
}

section#Contact .container .form-wrapper label {
  margin: 0rem 3rem;
}

section#Contact .container .form-wrapper button {
  width: 100%;
  padding: 2rem;
  margin-top: 4rem;
  border-radius: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

section#Contact .container .form-wrapper input {
  padding: 1rem 2.5rem;
  margin: 1.5rem;
}

section#Contact .container .form-wrapper .name-form input {
  margin-right: 3.1rem;
}

footer {
  background: #2c2c2c;
  color: #fff;
  text-align: center;
}

footer .footer-wrapper {
  display: flex;
  align-items: center;
  padding: 2rem;
  margin: auto;
  width: 70%;
  min-height: 10vh;
  flex-wrap: wrap;
}

footer .footer-wrapper h5 {
  flex: 1 1 40rem;
  font-size: 2rem;
  padding-bottom: 3rem;
}

footer .footer-wrapper h6 {
  flex: 1 1 40rem;
  font-size: 1.5rem;
  padding-bottom: 3rem;
}

footer .footer-wrapper ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-evenly;
  align-items: center;
}

footer .footer-wrapper ul li img {
  width: 3rem;
  height: 3rem;
  color: #fff;
}
/*# sourceMappingURL=app.css.map */