@media (max-width: 290px) {
  html,
  body {
    font-size: 50%;
  }
  #background-overlay {
    height: 160vh;
  }
  #background-overlay #main-head .container {
    height: 100vh;
  }
  #background-overlay #main-head .container nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #background-overlay #main-head .container nav ul {
    flex-direction: column;
  }
  #background-overlay #main-head .container nav .agancy-name {
    position: relative;
    bottom: 5rem;
  }
  section#Home {
    position: absolute;
    top: 60vh;
  }
  section#Home .container {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.781), transparent), url("../images/1.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  section#Home .container .a {
    padding: 1rem 0;
  }
  section#Home .container button {
    margin-top: 5rem;
  }
  section#Contact .container .form-wrapper {
    width: 90%;
  }
  section#Contact .container .form-wrapper .name-form input {
    margin-right: 3.1rem;
  }
  section#Contact .container .form-wrapper .name-form input {
    margin-right: 2rem;
  }
}

@media (min-width: 291px) and (max-width: 400px) {
  html,
  body {
    font-size: 60%;
  }
  #background-overlay {
    height: 160vh;
  }
  #background-overlay #main-head .container {
    height: 100vh;
  }
  #background-overlay #main-head .container nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #background-overlay #main-head .container nav ul {
    flex-direction: column;
  }
  #background-overlay #main-head .container nav .agancy-name {
    position: relative;
    bottom: 5rem;
  }
  section#Home {
    position: absolute;
    top: 60vh;
  }
  section#Home .container {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.781), transparent), url("../images/1.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  section#Home .container .a {
    padding: 1rem 0;
  }
  section#Home .container button {
    margin-top: 5rem;
  }
  section#Contact .container .form-wrapper {
    width: 90%;
  }
  section#Contact .container .form-wrapper .name-form input {
    margin-right: 3.1rem;
  }
  section#Contact .container .form-wrapper .name-form input {
    margin-right: 2.1rem;
  }
}

@media (min-width: 401px) and (max-width: 768px) {
  html,
  body {
    font-size: 60%;
  }
  #background-overlay {
    height: 160vh;
  }
  #background-overlay #main-head .container {
    height: 100vh;
  }
  #background-overlay #main-head .container nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #background-overlay #main-head .container nav ul {
    flex-direction: column;
  }
  #background-overlay #main-head .container nav .agancy-name {
    position: relative;
    bottom: 5rem;
  }
  section#Home {
    position: absolute;
    top: 60vh;
  }
  section#Home .container {
    background: linear-gradient(rgba(0, 0, 0, 0.781), transparent), url("../images/1.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  section#Home .container .a {
    padding: 1rem 0;
  }
  section#Home .container button {
    margin-top: 5rem;
  }
  section#Contact .container .form-wrapper {
    width: 90%;
  }
  section#Contact .container .form-wrapper .name-form input {
    margin-right: 3.1rem;
  }
  section#Contact .container .form-wrapper .name-form input {
    margin-left: 3.1rem;
    margin-right: 5.1rem;
  }
}

@media (min-width: 769px) and (max-width: 999px) {
  html,
  body {
    font-size: 120%;
  }
  #background-overlay {
    height: 160vh;
  }
  section#Home {
    position: absolute;
    top: 60vh;
  }
  section#Home .container {
    background: linear-gradient(rgba(0, 0, 0, 0.781), transparent), url("../images/1.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  section#Home .container .a {
    padding: 1rem 0;
  }
  section#Home .container button {
    margin-top: 5rem;
  }
  section#Contact .container .form-wrapper {
    width: 80%;
  }
  section#Contact .container .form-wrapper .name-form input {
    margin-right: 3.1rem;
  }
  section#Contact .container .form-wrapper .name-form input {
    margin-right: 5.1rem;
  }
}

@media (min-width: 1000px) and (max-width: 1024px) {
  html,
  body {
    font-size: 120%;
  }
  #background-overlay {
    height: 160vh;
  }
  section#Home {
    position: absolute;
    top: 60vh;
  }
  section#Home .container {
    background: linear-gradient(rgba(0, 0, 0, 0.781), transparent), url("../images/1.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  section#Home .container .a {
    padding: 1rem 0;
  }
  section#Home .container button {
    margin-top: 5rem;
  }
  section#Contact .container .form-wrapper {
    width: 80%;
  }
  section#Contact .container .form-wrapper .name-form input {
    margin-right: 3.1rem;
  }
  section#Contact .container .form-wrapper .name-form input {
    margin-right: 3.1rem;
  }
}
/*# sourceMappingURL=Responsive.css.map */